{% extends 'choices.html' %}

{% block graph_content %}
<!--div class = 'container' style="margin-left: 5em">
<!-- bar chart canvas element -->
<canvas id="myChart" width="400" height = "300"></canvas>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
        datasets: [{
            backgroundColor: 'rgb(150, 215, 255)',
            borderColor: 'rgb(0,0,0)',
            data: {{plot_data}},
        }]
    },

    // Configuration options go here
    options: {responsive: true, legend: {
            display: false
         },
        title: {position: 'bottom',
        display: true,
            fontSize: 28,
        text: "{{user_name}}'s Commute From Work"},
        scales: {
    yAxes: [{
        ticks: {fontSize:14},
      scaleLabel: {
          fontSize: 20,
        display: true,
        labelString: 'Commute Time (Minutes)'}}],
        xAxes: [{
        ticks: {fontSize:14},
      scaleLabel: {
          fontSize: 20,
        display: true,
        labelString: 'Departure Time'}}]}}
});

</script>

{% endblock %}
{% block summary %}
<h1> <b>Optimize your Commute Home</b></h1>
    <br>
<p style="font-size:1.4vw">   - Your <b>Best Time </b>to leave work is <b>{{statistics[0]}}</b>, when your commute would take <b>{{statistics[1]}} </b>minutes. </p>
    <br>
<p style="font-size:1.4vw">   - Your <b>Worst Time</b> to leave work is <b>{{statistics[2]}}</b>, when your commute would take <b>{{statistics[3]}}</b> minutes. </p>
    <br>
<p style="font-size:1.4vw">   - Over a 5 day workweek, you could save up to approximately <b>{{statistics[4]}} minutes </b> by driving home at optimal times.</p>
    <br>
    <p style="font-size:1.4vw"> We hope you enjoyed using the commuter app, and that you will be better prepared to plan for your week. </p>

{% endblock %}
