{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h2 style="font-size: 44px"> Welcome to Commuter App</h2>
        <p class="lead"> This app will help you to plan and optimize your commute by providing data-driven predictions and recommendations. <br> We hope it will help you find the best time to depart from your home and office.</p>
    </div>
<img class = 'center-block' src="/static/images/commuter.png" alt="Commuter App Logo" style="width:30vw;height:30vw">
{% endblock %}